{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <img src="{{ url_for('static', filename='floa-bank.png') }}" alt="Logo de Floa" class="img-fluid" style="max-width: 400px;">
</div>
    <div class="container mt-5">
        <h1>Présentation de l'entreprise</h1>
        <p>Floa est une banque en ligne créée en 2001 par le groupe Casino et qui, à l'origine, s'appelait Banque Casino. Ce n'est qu'en 2020 qu'elle a changé de nom pour devenir FLOA Bank. Basée à l'immeuble G7 au 71 rue Lucien Faure à Bordeaux, elle possède également un deuxième bureau à côté de la Cité du Vin appelé le "cloud", c'est d'ailleurs dans ce bureau que j'ai pu y faire mon stage. Floa est donc une banque en ligne permettant de faciliter les différents paiements de ses utilisateurs grâce, entre autres, à des paiements en plusieurs fois et des mini-crédits. Elle est un leader français dans ce domaine et s'étend également en Espagne, au Portugal, en Belgique, en Italie et a pour but de s'étendre dans toute l'Europe. Floa compte déjà plus de 4 millions de clients.</p>
    </div>
    <div class="container mt-5">
        <h1>Environnement de travail et contexte</h1>
        <p>Après avoir intégré Floa pour un stage en développement web, j'ai eu l'opportunité de rejoindre l'équipe front, composée de 20 personnes travaillant en collaboration. L'entreprise compte près de 450 collaborateurs répartis en équipes spécialisées en fonction de leur domaine de compétence. L'environnement de travail chez Floa est extrêmement dynamique, offrant ainsi à chacun d'entre nous la possibilité de se surpasser continuellement, tout en renforçant nos compétences et en contribuant à l'objectif commun de l'entreprise, notamment dans mon équipe dédiée au développement de Floa Pay. La communication occupe une place centrale dans la société, car chaque équipe dépend des autres pour avancer ensemble.</p>
        <p>Floa accorde une grande importance au développement professionnel de ses collaborateurs, en proposant notamment des formations sur la sécurité des systèmes bancaires, par exemple, pour permettre à tous de progresser. L'entreprise valorise également l'équilibre entre vie professionnelle et vie personnelle, en proposant des politiques de flexibilité, comme la mise en place du télétravail depuis la pandémie de Covid-19.</p>
        <p>Dans l'ensemble, l'environnement de travail chez FLOA Bank crée une ambiance dynamique qui encourage l'engagement et l'implication des employés dans la réalisation des objectifs de l'entreprise. C'est un environnement où chacun se sent valorisé en tant que professionnel, avec de véritables opportunités d'apprentissage et de croissance.</p>
    </div>
{% endblock %}
